/* will be handled with resize.js*/
@import url("/src/styles/main.css");
:root {
  --sz-100: 6.289703rem;
}

#mb .hd, #tb .hd {
  height: calc(var(--sz-100) * 8);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb .hd__tm div.trans, #tb .hd__tm div.trans {
  transform: none;
  border: none;
  width: 70%;
  margin: auto;
}
#mb .hd__nv, #tb .hd__nv {
  flex: 0.1 1 auto;
  width: calc(var(--sz-100) / 2);
  align-self: flex-end;
  position: relative;
}
#mb .hd .bar, #tb .hd .bar {
  width: 100%;
  height: 100%;
  background-color: var(--bg_1);
  border-radius: var(--rad);
  cursor: pointer;
}
#mb .hd .bar span, #tb .hd .bar span {
  width: 80%;
  height: 16%;
  background-color: var(--bg_2);
  border-radius: var(--rad);
  transition: var(--trans);
}
#mb .hd .bar span:first-child, #tb .hd .bar span:first-child {
  transform: scaleX(0.5) translateX(-50%);
}
#mb .hd .bar span:last-child, #tb .hd .bar span:last-child {
  transform: scaleX(0.5) translateX(50%);
}
#mb .hd .bar:hover span, #tb .hd .bar:hover span {
  transform: none;
  background-color: var(--tx_3);
  transition: var(--trans);
}
#mb .hd__btn, #tb .hd__btn {
  position: fixed;
  top: 2%;
  left: 5%;
  z-index: 0;
  transform: translateX(-150%) scale(0.899);
  transition: var(--trans);
  width: 90%;
  height: calc(var(--sz-100) * 5.5);
  background-color: rgba(25, 25, 25, 0.9);
  border: calc(var(--rad) / 2.1) solid var(--bg_1);
  border-radius: var(--rad);
  flex-flow: column;
}
#mb .hd__btn.show, #tb .hd__btn.show {
  z-index: 10;
  transform: translateX(0) scale(1);
  transition: var(--trans);
}
#mb .hd__img, #tb .hd__img {
  width: 100%;
  flex: 0.3 1 auto;
}
#mb .hd__intro, #tb .hd__intro {
  flex: 0.5 1 auto;
}
#mb .hd__intro h1, #tb .hd__intro h1 {
  height: 11.95rem;
}
#mb .hd__intro p, #tb .hd__intro p {
  font-size: 0.899rem;
}
#mb .hd__intro form, #tb .hd__intro form {
  width: 100%;
  background-color: var(--ts);
}
#mb .hd__intro form #hd-in, #tb .hd__intro form #hd-in {
  width: 60%;
  padding: 2% 7%;
}

#mb .sec1, #tb .sec1 {
  min-height: calc(var(--sz-100) * 9);
  display: flex;
  flex-flow: column;
}
#mb .sec1 .sm-div, #tb .sec1 .sm-div {
  flex: 0.15 1 auto;
}
#mb .sec1 .sm-card, #tb .sec1 .sm-card {
  flex: 0.85 1 auto;
  flex-flow: column;
  align-items: var(--cn);
  justify-content: space-evenly;
}
#mb .sec1 .sm-card div, #tb .sec1 .sm-card div {
  width: 80%;
  margin: var(--rad);
}

#mb .sec2, #tb .sec2 {
  height: calc(var(--sz-100) * 4.5);
  width: calc(var(--st-w) - 10vw);
  margin: auto;
  display: flex;
  flex-flow: column;
}
#mb .sec2 div:not(.cl-img), #tb .sec2 div:not(.cl-img) {
  flex: 0.5 1 auto;
}
#mb .sec2 div:not(.cl-img) .btn, #tb .sec2 div:not(.cl-img) .btn {
  width: 70%;
}
#mb .sec2 .cl-img, #tb .sec2 .cl-img {
  flex: 0.5 1 auto;
}

#mb .sec3 {
  height: calc(var(--sz-100) * 20);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb .sec3 .mn-card {
  width: calc(var(--st-w) - var(--fts));
  place-self: var(--cn);
}

#tb .sec3 {
  height: calc(var(--sz-100) * 10);
  display: grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--rad);
}

#tb .br .btn, #mb .br .btn {
  width: 70%;
}

#mb .sec4, #tb .sec4 {
  height: calc(var(--sz-100) * 6.9);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb .sec4 .pj-sh, #tb .sec4 .pj-sh {
  flex: 0.8 1 auto;
  flex-flow: row wrap;
  width: var(--st-w);
}
#mb .sec4 .pj-sh a, #tb .sec4 .pj-sh a {
  width: 45%;
  height: 45%;
  padding: 1%;
  flex-flow: column;
  transform: none;
  margin: calc(var(--rad) / 2);
}
#mb .sec4 .pj-sh a section, #tb .sec4 .pj-sh a section {
  height: 45%;
  width: 50%;
  align-self: var(--cn);
  clip-path: polygon(40% 0, 60% 0, 60% 20%, 100% 100%, 0 100%, 40% 20%);
}
#mb .sec4 .pj-sh a article, #tb .sec4 .pj-sh a article {
  height: 60%;
  text-align: var(--cn);
}

#mb .sec5 .ts-card, #tb .sec5 .ts-card {
  width: 95%;
  max-width: calc(80% - 10vw);
}
#mb .sec5 .ts-card article, #tb .sec5 .ts-card article {
  justify-content: space-evenly;
}
#mb .sec5 .ts-btn, #tb .sec5 .ts-btn {
  display: none;
}

#mb #cnv, #tb #cnv {
  height: 100% !important;
  opacity: 0.8;
}

#mb .sec6, #tb .sec6 {
  height: calc(var(--sz-100) * 8);
  display: flex;
  flex-flow: column;
}
#mb .sec6 div, #tb .sec6 div {
  flex: 0.5 1 auto;
}

#mb #about, #tb #about {
  height: calc(var(--sz-100) * 9.2);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb #about .myIco, #tb #about .myIco {
  height: 20%;
  min-width: 100%;
}
#mb #about .abOne, #tb #about .abOne {
  height: 35%;
}
#mb #about .abOne h2, #tb #about .abOne h2 {
  font-size: 1.2rem;
}
#mb #about .abOne li, #tb #about .abOne li {
  font-size: 0.79rem;
}
#mb #about .abTwo, #tb #about .abTwo {
  height: 45%;
}
#mb #about .abTwo .value, #tb #about .abTwo .value {
  font-size: 0.79rem;
}

#mb #contact, #tb #contact {
  height: calc(var(--sz-100) * 7.5);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb #contact form, #tb #contact form {
  height: 60%;
}
#mb #contact form + div, #tb #contact form + div {
  width: 100%;
  height: 35%;
}

#mb .ft, #tb .ft {
  height: calc(var(--sz-100) * 10);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#mb .ft iframe, #tb .ft iframe {
  order: 3;
  height: 30%;
}
#mb .ft-info, #tb .ft-info {
  height: 58%;
  order: 0;
  flex-flow: column;
}
#mb .ft-info section, #tb .ft-info section {
  align-self: var(--cn);
}
#mb .ft-info section li, #mb .ft-info section h3, #tb .ft-info section li, #tb .ft-info section h3 {
  text-align: var(--cn);
}
#mb .ft-copy, #tb .ft-copy {
  order: -1;
}
#mb .ft-con, #tb .ft-con {
  height: 10%;
}
#mb .ft-con ul, #tb .ft-con ul {
  width: 65%;
}

/*# sourceMappingURL=media.css.map */
